
<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center>Exames</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="list()"></ion-refresher>
  <ion-card >
  <ion-grid *ngFor="let item of items"  >
    <ion-row *ngIf = "item.paciente?.id == 1">
      <ion-col style="font-weight: bolder;">Data Sistema</ion-col>
      <ion-col style="font-weight: bolder;">Data Exame</ion-col>
      <ion-col style="font-weight: bolder;">Nome do Exame</ion-col>
      <ion-col style="font-weight: bolder;">Status Exame</ion-col>
      <ion-col style="font-weight: bolder;">Paciente</ion-col>
      <ion-col style="font-weight: bolder;">Médico</ion-col>
    </ion-row>

    <ion-row *ngIf = "item.paciente?.id === 1">
      <ion-col>{{item.datasistema}}</ion-col>
      <ion-col>{{item.dataexame}}</ion-col>
      <ion-col>{{item.nomeexame?.nomedoexame}}</ion-col>
      <ion-col>{{item.statusExameId}}</ion-col>
      <ion-col>{{item.paciente?.nome}}</ion-col>
      <ion-col>{{item.medico.nome}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

 <ion-list *ngIf="!items.length">
  <ion-item text-center>
    <span>Nenhum exame cadastrado</span>
  </ion-item>
</ion-list>
</ion-content>