<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Exames</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="saveExame()">
    
    <ion-item>
      <ion-label stacked>Data Sistema</ion-label>
      <ion-input [(ngModel)]="datafinal" formControlName="datasistema" type="text" disabled = ""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data Exame*</ion-label>
        <ion-input formControlName="dataexame" type="text" [brmasker]="{mask:'00/00/0000', len:10}"></ion-input>
     </ion-item>
     
      <ion-item>
        <ion-label multiple="true" stacked >Nome do Exame*</ion-label> 
        <ion-select selected = "selectedNomeExame" formControlName = "nomeexame" [(ngModel)]="nomeexame">
          <ion-option *ngFor="let nomedoexame of listaNomeExame " [value]="nomedoexame">{{nomedoexame.nomedoexame}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label multiple="true" stacked >Status Exame*</ion-label> 
        <ion-select formControlName = "statusExameId">
            <ion-option value = "1">Marcado</ion-option>
            <ion-option value = "2">Nao Marcado</ion-option>
        </ion-select>
      </ion-item>
     
      <ion-item>
        <ion-label stacked>Paciente*</ion-label>
        <ion-select formControlName="paciente" selected = "selectedPaciente" [(ngModel)]="paciente">
          <ion-option *ngFor="let paciente of listaPaciente" [value]="paciente">{{paciente.cpf}}</ion-option>    
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Médico*</ion-label>
        <ion-select formControlName="medico" selected = "selectedMedico" [(ngModel)]="medico">
          <ion-option *ngFor="let medico of listaMedico" [value]="medico">{{medico.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-buttons margin-top>
          <button ion-button block color="primary" type="submit" [disabled]="formGroup.invalid">Salvar Cadastro</button>
          <button ion-button block color="danger" type="button" (click)="back()">Voltar</button>
      </ion-buttons>
    </form>
</ion-content>
