page-home {
    ion-content{
        background: map-get($colors,fundoTela) !important;
    }
    h3{
        text-align: center;
    }
    img{
        width: 500px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 40px;
        border-radius: 100px;
    }
    form{
        height: 180px;
        margin-left: center;
    }
}
