#sidenav1 {
  ion-item-group[menuexame] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 20%;
    &.visible1 {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
}
#sidenav_2 {
  ion-item[submenu-item] {
    padding-left: 30px; // maybe margin-left would work better to move the border as well
    color: black;
  }
  
}
#menuPaciente {
  ion-item-group[menuPaciente] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 20%;
    &.menuPaciente {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
}

#sidenav2 {
  ion-item-group[menuFarmacia] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 20%;
    &.menuFarmacia{
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
}

#sidenav {
  ion-item-group[menu-configuracao] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 10%;
    &.visible {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
}
